<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Movies</title>
</head>
<body>
    <header class="row">
        <h1 style="color:red">Express Movies</h1>
        <nav>
            <ul class="row">
                <li><a href="/">Accueil</a></li>
                <li><a href="/movies">Films</a></li>
                <li><a href="/movies"></a>Séries</a></li>
                <li><a href="/movie-search">Recherche</a></li>
                <li><span id="connectionLink"><a href="/login">Connexion</a></span></li>
                <li>Contactez-nous</li>
            </ul>
        </nav>
    </header>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
