<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Express Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
</head>
<body>
    <div class="central">
        <% include ./partials/header.ejs %>
    
        <h1>Express Movies : le site des cinéphiles</h1>
        <div>
            Plutôt films ou séries ? Peu importe, vous trouverez votre bonheur ici-même tabernacle !
        </div>
    
    </div>
    <% include ./partials/footer.ejs %>

</body>
</html>