<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    
    <title>Express Movies</title>
</head>
<body>
    <div class="central">
        <% include ./partials/header.ejs %>
    
    
        <h1>Voici les détails de "<%= movietitle %>" :</h1>
        <div>
            <p>Numéro d'identité : <%= movieid %>.</p>
            <ul>
                <li>Titre : <%= movietitle %></li>
                <li>Description : </li>
                <li>Casting : </li>
                <li>Année de production : </li>
                <li>Score critique :</li>
            </ul>
        </div>
    
    </div>
    <% include ./partials/footer.ejs %>
    
</body>
</html>