<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include ./partials/header.ejs %>
    <h1>Votre recherche sur <em>The Movie Database</em> :</h1>
    <div>
            <input type="text" name="term" id="term" placeholder="Votre titre de film">
            <button id="btnSearch">Chercher</button>
    </div>

    <div id="results">

    </div>

    <% include ./partials/footer.ejs %>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const API_KEY = 'b875d98d6eb8188277dedea4f187fe79';
        const term = document.querySelector('#term');
        const btnSearch = document.querySelector("#btnSearch");
        btnSearch.addEventListener("click", search);

        let resultsDiv = document.querySelector('#results');

        function search() {
            const query = `https://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&query=${term.value}&language=fr-FR`;
            axios.get(query)
            .then(function(response) {
                console.log(response)
                displayResults(response.data.results)
            });
        }

        function displayResults(results) {
            resultsDiv.innerHTML = "";
            for(let result of results) {
                let movieDiv = document.createElement('div');
                movieDiv.innerHTML = result.title;
                resultsDiv.appendChild(movieDiv);
            }
        }
    </script>
</body>
</html>
