<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/style.css" />

    <title>Express Movies</title>
</head>
<body>
    <div class="central">
        <% include ./partials/header.ejs %>


        <h1><%= title %></h1>
        <div class="french-movies">
            <% for(movie of movies) {%>
                <div><%= movie.title %>, (<%= movie.year %>)
                <%} %></div>
        </div>
    </div>
    <br>
    <div>
        <form action="/movies" method="post">
        <label for="movietitle">Titre du film</label>
        <input type="text" name="movietitle" id="movietitle">
        <br>
        <label for="movieyear">Année du film</label>
        <input type="text" name="movieyear" id="movieyear">
        <button type="submit">Ajouter</button>
        </form>
    </div>
        <% include ./partials/footer.ejs %>


        <script>

        const form = document.querySelector('form');
        form.addEventListener('submit', addMovie);

        function addMovie(event){
            event.preventDefault();

            if(window.fetch){
                fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkStatus)
                .catch(function(error){
                    console.log('request failed', error);
                })

            }else {
                // JQuery, XHR, ...
            }
        }

        function checkStatus(response) {
            if(response.status >= 200 && response.status < 300) {
                let newMovieDiv = document.createElement('div');
                const movietitle = document.getElementById('movietitle').value;
                const movieyear = document.getElementById('movieyear').value;
                newMovieDiv.textContent = `${movietitle}, (${movieyear})`;
                document.querySelector('.french-movies').appendChild(newMovieDiv);
                form.reset();
            }
        }

        </script>
</body>
</html>
