body {
    font-family: Consolas, Monaco, "Andale Mono", monospace;
}

.central {
    min-height: 250px;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}

header {
    justify-content: space-around;
}

header li {
    list-style: none;
    justify-content: space-around;
    padding: 20px;    
}